@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white; /* Black background with white text */
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 100 100"><g fill="none" stroke="%23ffffff10" stroke-width="1"><path d="M0 0L100 0L50 86.6Z"></path><path d="M50 0L100 86.6H0Z"></path><path d="M-50 86.6L50 86.6L0 173.2Z"></path><path d="M100 86.6L200 86.6L150 173.2Z"></path></g></svg>');
  background-size: 80px 80px; /* Adjust grid size */
}

@layer utilities {
  .shadow-glow {
    box-shadow: 0 0 10px 5px #ff;
  }
}

@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

